version: '3'

networks:
  default:
    name: dev-proxy
    external: true

services:
  dnsmasq:
    image: tschaffter/dnsmasq:2.85
    container_name: dnsmasq
    volumes:
      - ./dnsmasq.conf:/etc/dnsmasq.conf:ro
      - ./dnsmasq.d/example.com.conf:/etc/dnsmasq.d/example.com.conf:ro
    command: ["dnsmasq", "-k", "--server", "1.1.1.1", "--server", "1.0.0.1"]
    ports:
     - "53:53/udp"
    restart: always

  portainer:
    image: portainer/portainer-ce
    container_name: PORTAINER
    command: -H unix:///var/run/docker.sock
    restart: always
    expose:
      - 9000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dev-proxy"
      - "traefik.http.routers.portainer.rule=Host(`portainer.localdev`)"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data

  traefik:
    image: traefik:v2.8.7
    container_name: TRAEFIK
    restart: always
    environment:
      VIRTUAL_HOST: ${VIRTUAL_HOST}
    command:
      - "--api.insecure=true"
      - "--accesslog=true"
      - "--accesslog.filepath=/var/logs/traefik.log"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.localdev`)"
      - "traefik.http.routers.traefik.service=api@internal"
