version: '3.3'

networks:
  default:
    name: dev-proxy
    external: true
  nginx-proxy:
    external: true

volumes:
  portainer:
  mp-data:

services:
  traefik:
    image: traefik:v2.10
    container_name: TRAEFIK
    command:
      - --api.insecure=true
      - --accesslog=true
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.smtp.address=:1025
    ports:
      - 80:80
      - 1025:1025
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.test`)
      - traefik.http.routers.traefik.service=api@internal
      - traefik.http.routers.traefik.middlewares=traefik-compress
      - traefik.http.middlewares.traefik-compress.compress=true
    restart: always

  portainer:
    image: portainer/portainer-ce:alpine
    container_name: PORTAINER
    command: -H unix:///var/run/docker.sock
    expose:
      - 9000
    labels:
      - traefik.enable=true
      - traefik.docker.network=dev-proxy
      - traefik.http.routers.portainer.rule=Host(`portainer.test`)
      - traefik.http.services.portainer.loadbalancer.server.port=9000
      - traefik.http.routers.portainer.middlewares=traefik-compress
      - traefik.http.middlewares.traefik-compress.compress=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer:/data
    restart: always

  nginx:
    image: nginx:stable-alpine
    container_name: NGINX
    networks:
      - default
      - nginx-proxy
    volumes:
      - ./nginx.d/conf.d:/etc/nginx/conf.d
      - ./nginx.d/vhost.d:/etc/nginx/vhost.d
      - ./nginx.d/htpasswd:/etc/nginx/htpasswd
      - ./nginx.d/html:/usr/share/nginx/html
      - ./nginx.d/certs:/etc/nginx/certs:ro
      - ./nginx.d/nginx.conf:/etc/nginx/nginx.conf
    labels:
      - traefik.enable=true
      - traefik.docker.network=dev-proxy
      - traefik.http.routers.nginx.rule=Host(`sg.test`) || Host(`pma.sg.test`)
    restart: always

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: NGINX-GEN
    networks:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.d/conf.d:/etc/nginx/conf.d
      - ./nginx.d/vhost.d:/etc/nginx/vhost.d
      - ./nginx.d/htpasswd:/etc/nginx/htpasswd
      - ./nginx.d/html:/usr/share/nginx/html
      - ./nginx.d/certs:/etc/nginx/certs:ro
      - ./nginx.d/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
    restart: always

  mailpit:
    image: axllent/mailpit
    container_name: MAILPIT
    expose:
      - 8025
      - 1025
    labels:
      - traefik.enable=true
      - traefik.docker.network=dev-proxy
      - traefik.http.routers.mailpit.rule=Host(`mailpit.test`)
      - traefik.http.services.mailpit.loadbalancer.server.port=8025
      - traefik.http.routers.mailpit.middlewares=traefik-compress
      - traefik.http.middlewares.traefik-compress.compress=true
      - traefik.tcp.routers.mailpit.rule=HostSNI(`*`)
      - traefik.tcp.routers.mailpit.entrypoints=smtp
      - traefik.tcp.routers.mailpit.service=mailpit-svc
      - traefik.tcp.services.mailpit-svc.loadbalancer.server.port=1025
    volumes:
      - mp-data:/data
    restart: always
