version: '3.3'

networks:
  default:
    external:
      name: dev-proxy
  nginx-proxy:
    external: true

volumes:
  portainer:

services:
  dnsmasq:
    image: tschaffter/dnsmasq:2.85
    container_name: DNSMASQ
    volumes:
      - ./dnsmasq.d/dnsmasq.conf:/etc/dnsmasq.conf:ro
      - ./dnsmasq.d/test.conf:/etc/dnsmasq.d/test.conf:ro
    command: ["dnsmasq", "-k", "--server", "1.1.1.1", "--server", "1.0.0.1"]
    ports:
     - "53:53/udp"
    restart: always

  portainer:
    image: portainer/portainer-ce:2.16.2
    container_name: PORTAINER
    command: -H unix:///var/run/docker.sock
    restart: always
    expose:
      - 9000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dev-proxy"
      - "traefik.http.routers.portainer.rule=Host(`portainer.test`)"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer:/data

  traefik:
    image: traefik:v2.9.5
    container_name: TRAEFIK
    restart: always
    command:
      - "--api.insecure=true"
      - "--accesslog=true"
      - "--accesslog.filepath=/var/logs/traefik.log"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.test`)"
      - "traefik.http.routers.traefik.service=api@internal"

  nginx:
    image: nginx:1.23.2
    container_name: NGINX
    restart: always
    networks:
      - default
      - nginx-proxy
    volumes:
      - ./nginx.d/conf.d:/etc/nginx/conf.d
      - ./nginx.d/vhost.d:/etc/nginx/vhost.d
      - ./nginx.d/htpasswd:/etc/nginx/htpasswd
      - ./nginx.d/html:/usr/share/nginx/html
      - ./nginx.d/certs:/etc/nginx/certs:ro
      - ./nginx.d/nginx.conf:/etc/nginx/nginx.conf
    labels:
      - traefik.enable=true 
      - traefik.docker.network=dev-proxy 
      - traefik.http.routers.nginx.rule=Host(`sg.test`) || Host(`pma.sg.test`)

  nginx-gen:
    image: jwilder/docker-gen
    command: -notify-sighup nginx -watch -wait 5s:30s /etc/docker-gen/templates/nginx.tmpl /etc/nginx/conf.d/default.conf
    container_name: NGINX-GEN
    restart: always
    networks:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.d/conf.d:/etc/nginx/conf.d
      - ./nginx.d/vhost.d:/etc/nginx/vhost.d
      - ./nginx.d/htpasswd:/etc/nginx/htpasswd
      - ./nginx.d/html:/usr/share/nginx/html
      - ./nginx.d/certs:/etc/nginx/certs:ro
      - ./nginx.d/nginx.tmpl:/etc/docker-gen/templates/nginx.tmpl:ro
      