version: '3'

networks:
  dev-proxy:
    external: true

services:
  portainer:
    image: portainer/portainer-ce
    container_name: PORTAINER
    command: -H unix:///var/run/docker.sock
    restart: always
    networks:
      - dev-proxy
    expose:
      - 9000
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=dev-proxy"
      - "traefik.http.routers.portainer.rule=Host(`portainer.test`)"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./portainer_data:/data

  traefik:
    image: traefik:v2.8.7
    container_name: TRAEFIK
    restart: always
#    environment:
#      VIRTUAL_HOST: ${VIRTUAL_HOST}
    command:
      - "--api.insecure=true"
      - "--accesslog=true"
      - "--accesslog.filepath=/var/logs/traefik.log"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - 80:80
#      - 8080:8080
    networks:
      - dev-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`traefik.test`)"
      - "traefik.http.routers.traefik.service=api@internal"
